.banner_section{
    background-size: 100% 100%;
    height: 79vh;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
}
.search_bar_wrapper{
    margin: 0 auto; 
    width:54%;
}
.search_bar{
    background: rgba(74, 74, 74, 0.62);
    padding: 19px;
}
.mat-form-field{
    color: #fff;
    background: #fff;
    border: 1px solid #e45243;
    padding: 6px 15px;
    padding-left: 30px;
    margin: 0 8px;
    width: 35%;
}
::ng-deep .mat-form-field-underline {
    display: none;
  }
.search_btn{
    background: #e45243;
    color: #fff;
    border-radius: 0px;
    padding: 2px 10px;
    margin: 0 8px;
    min-width: 23%;
}
.add_wrapper img{
    display: inline-block;
}
.add_wrapper span{
    vertical-align: top;
    padding-left: 14px;
    font-size: 14px;
    display: inline-block;
    width: 80%;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
}
.parallax_container {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax_container h2 {
    color: #fff;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 100px;
    position: relative;
}
.parallax_overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2784313725490196);
    z-index: 0;
}
.package_wrapper{
    height: 400px;
    background-size: cover;
}
.package p{
    margin: 0;
    padding: 7px;
    font-size: 20px;
    font-weight: 1000;
    font-family: -webkit-body;
}
.package_cost{
    background: #e49c9d;
    color: #fff;
    -moz-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.35);
}
.package_cost p{
    padding: 4px;
    margin: 0;
}
.package_content{
    margin: 27% auto;
    color: #fff;
    width: 87%;
    font-size: 18px;
}
.package_buttons button{
    background: #0000001f;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 15px;
    margin: 10px;
    transition: ease all 0.3s;
}
.package_buttons button:hover {
    background: rgba(226, 155, 156, 0.48);
    border-color: rgba(226, 155, 156, 0.48);
    transition: ease all 0.3s;
}
.pack_text p{
    background: #c6c6c6;
    padding: 130px;
    margin: 34px 0;
    width: 114%;
    position: relative;
    right: 54px;
    color: #fff;
    font-size: 26px;
    z-index: 99;
}
.pack_text p span{
    margin-top: 10px;
    display: inline-block;
    color: #f8db3f;
    letter-spacing: 1px;
    font-size: 30px;
}
.pack_line{
    position: relative;
    top: -22px;
}
.about_package .col-xs-12:last-child p{
    margin: 40px 0;
    right: 30px;
}
.about_package .col-xs-12:last-child .pack_line{
    right: 18px;
}
.right_span{
    padding: 40px 0;
}
.line-container{
    overflow: hidden;
    color: #fff;
    margin: 0;
    line-height: 32px;
    font-size: 16px;
}
.line-container:nth-child(2n){
    background: #e29291;
}
.line-container p{
    margin-bottom: 0px;
}
.left_span{
    position: absolute;
    top: -49px;
    left: 12%;
}
.left_span img{
    width: 82%;
}
.pack_more {
    margin: 75px 0px;
}


.serv_name p{
    margin: 20px 0;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
}
.serv_img img{
    max-height: 170px;
    min-height: 170px;
    width: 100%;
    transition: ease all 0.3s;
}
.serv_img, .serv_name{
    cursor: pointer;
}
.service_wrapper {
    padding: 5px;
    transition: ease all 0.3s;
    overflow: hidden;
}
.service_wrapper:hover img{
    transform: scale(1.1);
    transition: ease all 5s;
}
.service_wrapper:hover {
    box-shadow: 2px 7px 9px 3px #cccccca1;
    padding: 5px;
    transition: ease all 0.3s; 
}
.wedding_pack_wrapper {
    background: #1e1e1e;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.heading {
    color: #bfbfbf;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 3px;
}   
.sub {
    color: #bfbfbf;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
}   
.wedding_pack_wrapper img{width: 100%;}
.shop_world_wrapper img{
    width: 100%;
    height: 365px;
}
.shop_world_wrapper p{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 20px 15px 15px;
}
.shop_world_wrapper a{
    font-size: 15px;
    color: #1f1f1f;
    text-decoration: underline;
    text-transform: capitalize;    
    transition: ease-in all 0.1s;
}
.shop_world_wrapper a:hover, .shop_world_wrapper a:focus{
    color: #e45243;
    text-decoration: underline;
    transition: ease-in all 0.2s;
}


// Responsive css layout



@media screen and (min-width: 1800px){
	
}

@media screen and (max-width: 1800px){
	
	
	
}

@media screen and (max-width: 1500px){
	
	
}

@media screen and (max-width: 1300px){
	
	
}

@media screen and (max-width: 1210px){
    .search_bar_wrapper {
        width: 76%;
    }
    .banner_section{
        height: 64vh;
    }
    .pack_text p{
        padding: 130px 0;
    }



	
}

@media screen and (max-width: 1025px){
    .package_wrapper{
        height: 400px;
    }
    .pack_text p{
        padding: 95px 0;
    }
    .banner_section{
        height: 36vh;
    }

	
}

@media screen and (max-width: 769px) {
    .mat-form-field{
        width: 34%;
    }
    .parallax_container h2{
        padding: 78px 0;
    }
    .parallax_container{
        background-size: 100%;
    }
    .package_wrapper{
        height: 400px;
    }
    .pack_image{width: 100%}
    .pack_image img{
        margin: 0 auto;
    }
    .about_package .col-xs-12:last-child {
         p{
        margin: 40px 0;
        position: static;
        left: 0;
        width: 100%;
        }
        .pack_line{
            right: 0;
        }
    }
    .left_span {
        top: -52px;
        left: 8%;
        position: absolute;
    }
    .right_span {
        padding: 40px 0;
        text-align: right;
    }

}

@media screen and (max-width: 650px) {
    .mat-form-field {
        width: 33%;
    }
    .search_btn{
        font-size: 12px;
        padding: 2px 6px;
    }
   .add_wrapper span{
       width: 100%;
        text-align: center;
   }
   .below-banner{
       text-align: center;
   } 
   .package {
        background-repeat: no-repeat;
        background-size: 100%;
   }
   .package_wrapper{
        margin: 0 10PX;
        height: 100%;
   }
   .left_span {
        top: 11px;
        left: 8%;
    }
    .left_span img{
        width: 60%;
    }
    .heading {
        font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
    .wedding_pack_wrapper{
        display: block;
    }
    .heading{
        margin-top: 10px;
    }
    .base_btn{
        margin-bottom: 15px;
    }
    .wedding_pack{
        padding: 30px 10px 0 !important;
    }
    .shop_world_pack{
        padding: 30px 5px 0 !important;
    }
    .extra_package h2{
        width: 80%;
        margin:  0 auto;
    }
    .pack_more{
        margin: 0;
    }
    .line-container{    font-size: 14px;}
    .left_span{
        left:0;
    }
    .search_bar_wrapper{
        width: 70%;
    }
    .search_bar{
        padding: 8px;
    }
    .search_bar button{
        text-align: center;
        margin: 7px auto;
        display: block;
    }
    .mat-form-field{
        width: 100%;
        margin: 5px 0;
    }
    .shop_world_wrapper img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
	.pack_text   p     {
        padding: 95px 15px;
    }
}

@media screen and (max-width: 430px){
	.package {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .left_span{
        display: none;
    }
}


@media screen and (max-width: 380px){

}
@media screen and (max-width: 365px){
	
	
	
}
@media screen and (max-width: 350px){
	
	
}
@media screen and (max-width: 330px){
	
}