<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="trend_tags text-center mt-30">
                <p>Get Inspired by thousands of pictures from different weddings!</p>
                <div>
                    <span class="base-c"><strong>Trending: </strong></span>
                    <a href="">#WeddingIdeas</a>
                    <a href="">#Sabhyasanchi</a>
                    <a href="">#SouthIndiaBride</a>
                    <a href="">#WeddingInvites</a>
                    <a href="">#DelhiWedding</a>
                    <a href="">#RealBrides</a>
                </div>
            </div>


            <div class="social_footer">
                <p class="text-center">Follow us on:</p>
                <p class="text-center">
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/facebook.png" alt="facebook link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/instagram.png" alt="instagram link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/twitter.png" alt="twitter link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/google.png" alt="google plus link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/linkedin.png" alt="linkedin link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/pinterest.png" alt="pinterest link"/>
                    </a>
                </p>
                <p class="text-center">
                    <span class="social_btn"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</span>
                    <span class="social_btn">Share</span>
                </p>
                <p class="text-center"><span class="base-c"><Strong>Sign Up</Strong></span> to see what your friends like.</p>
            </div>


            <div class="container no-padding text-center mt-30 mb-10">
                <p class="mb-5"><strong>Contact us to get best deals</strong></p>
                <p class="mb-15">
                    <span class="mr-15"><a href="mailto:vendors@theeventkart.com">vendors@theeventkart.com</a></span>
                    <span class="ml-15"><i class="mr-5 fa fa-whatsapp" aria-hidden="true" style="color: #1ed11e"></i><i class="ml-5 mr-5 fa fa-volume-control-phone" aria-hidden="true"></i><a href="tel:+14087560610 ">+1 (408) 756-0610</a></span>
                </p>
                <p><a class="social_btn" style="padding: 2px 10px "><strong>Register as a Vendor</strong></a></p>
            </div>

            

            <div class="container no-padding mb-30">
                <hr>
            </div>

            <div class="container no-padding text-center mt-30 mb-30 vendor_footer">
                <p class="mb-30 heading">Wedding Vendors in over 100 Indian cities</p>
                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                    <p>Wedding venues</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                    <p>Bridal Makeup</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                        <p>Bridal Wear</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                            <p>Wedding Decorators</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                <p>Wedding Cards</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                    <p>Wedding Photographers</p>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                        <p>Family Makeup</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                            <p>Groom Wear</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                                <p>Wedding Planner</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                                    <p>Wedding Videography</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                                        <p>Bridal Mehndi</p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                                            <p>Wedding Shoots</p>
                                                        </div>
            </div>


<div class="col-xs-12 no-padding main-footer">
    <div>
        <ul>
            <li>Home</li>
            <li>Terms & Condition</li>
            <li>Privacy Policy</li>
            <li>Contact Us</li>
            <li>Packages</li>
        </ul>
    </div>
</div> 
<div class="col-xs-12 no-padding bottom-footer">
        <p>Copyright &copy; 2019 The <a href="#" class="base-c">Eventkart.com</a> | All Right Reserved</p>
    </div> 



        </div>
    </div>
</footer>