
<!-- Start Sign In Model -->
<div class="modal fade" id="signin" role="dialog">
    <div class="modal_overlay"></div>
        <div class="modelVcenter">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content" style="background-image: url('assets/images/signin_bg.png')">
              
            <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="signin_container">
                <div class="signin_wrapper" style="border: 0px;">
                    <h2 class="signin_heading">Sign Into The Eventkart</h2>
                    <h3 class="signin_subHeading base-c">Let’s Make Your Day Special!</h3>
    
                    <form class="form-group text-center">
                            <mat-form-field class="ip-full-width">
                              <input type="email" matInput placeholder="Email Address">
                            </mat-form-field>
                            <mat-form-field class="ip-full-width">
                                <input type="passowrd" matInput placeholder="Password">
                            </mat-form-field>
                            <button mat-button class="base_btn mt-10 mb-10 signin_btn"><strong>SIGN IN</strong></button>
                    </form>
                    <span class="flow-left font-16"><a href="#"  class="base-c">Forgot Password?</a></span>
                    <span class="flow-right font-16">Not a member yet? <a href="#" class="base-c">Forgot Password?</a></span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <div class="signin_footer text-center">
                    <span>Are you a vendor?</span>
                    <button mat-button class="base_btn mt-10 mb-10">Sign In</button>
                </div>
            </div>
            
          </div>
        </div> 
        </div>
      </div>
    
    <!-- end Sign In Model -->
    
    
    <!-- Start Sign UP Model -->
        <div class="modal fade" id="register" role="dialog">
                <div class="modal_overlay"></div>
            <div class="modelVcenter">
            <div class="modal-dialog  modal-lg">
            
              <!-- Modal content-->
              <div class="modal-content" style="background-image: url(assets/images/register_bg.png);">
                  
                <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="register_container">
                    <div class="col-sm-7 col-xs-12 signin_wrapper  pl-30 pr-30">
                        <h2 class="signin_heading">Sign Up With Us To Start Planning Your Wedding</h2>
                        <h3 class="signin_subHeading base-c">Let’s Make Your Day Special!</h3>
        
                        <form class="form-group mb-30">
                                <mat-form-field class="ip-full-width">
                                    <input type="text" matInput placeholder="Full Name">
                                </mat-form-field>
                                <mat-form-field class="ip-full-width text-center" style="width:15%;">
                                    <input type="email" matInput value="+91" disabled>
                                </mat-form-field>
                                <mat-form-field class="ip-full-width" style="width:85%;">
                                  <input type="tel" matInput placeholder="Phone Number">
                                </mat-form-field>
                                <mat-form-field class="ip-full-width">
                                  <input type="email" matInput placeholder="Email Address">
                                </mat-form-field>
                                <mat-form-field class="ip-full-width">
                                    <input type="passowrd" matInput placeholder="Password">
                                </mat-form-field>
                                <mat-form-field floatLabel="never" no-padding class="ip-full-width">
                                    <mat-label>Country</mat-label>
                                    <mat-select [(value)]="selected">
                                        <mat-option value="1">India</mat-option>
                                        <mat-option value="2">USA</mat-option>
                                        <mat-option value="3">Australia</mat-option>
                                    </mat-select> 
                                </mat-form-field>
                                
                        
                        <!-- <p class="font-16 mt-20"><strong>Email Preferences</strong></p>
                        <p class="flow-left mb-20">Find out more about our <a href="#"  class="base-c">emails</a> and our <a href="#"  class="base-c">Privacy Policy</a></p> -->
                        <p class="mt-20 mb-20"><mat-checkbox>I would like to receive style updates, fashion and beauty news, and <br>
                                promotional emails from The Eventkart.</mat-checkbox></p>
                        <!-- <p class="mt-20 mb-20">Untick this box if you do not want to receive my promotional email from The Eventkart.</p> -->
                        <button mat-button class="base_btn mt-10 mb-10 signin_btn"><strong>SIGN UP</strong></button>
                        <p class="mt-20 mb-10">By signing up, you agree to The Eventkart <a href="#"  class="base-c">Terms and Conditions</a></p>
                        <p class="mt-10 mb-20">Already a member of The Eventkart? <a href="#"  class="base-c">SIGN IN</a></p>
                    
                    </form>
                    </div>
                    <div class="col-sm-5 pl-30 pr-30">
                        <div class="register_img">
                            <img src="assets/images/register_img.png" class="img-responsive" />
                        </div>
                        <div class="register_links text-center">
                            <p class="mb-15"><a href="#" class="base-c">Tension free Wedding planning experience</a></p>
                            <p class="mb-15"><a href="#" class="base-c">Personal assitamce 24/7</a></p>
                            <p class="mb-15"><a href="#" class="base-c">All functions covered in all packages</a></p>
                            <p class="mb-15"><a href="#" class="base-c">We gaurantee best service for the lowest price</a></p>
                            <p class="mb-15"><a href="#" class="base-c">Benifits of Add-Ons to customize your weddings</a></p>
                            <p class="mb-15"><a href="#" class="base-c">Get a free surprise service covered!</a></p>
                        </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div> 
            </div>
          </div>
        
        <!-- end Sign UP Model -->


<div class="container">
    <div class="row">
        <mat-divider></mat-divider>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="trend_tags text-center mt-30">
                <p>Get Inspired by thousands of pictures from different weddings!</p>
                <div>
                    <span class="base-c"><strong>Trending: </strong></span>
                    <a href="">#WeddingIdeas</a>
                    <a href="">#Sabhyasanchi</a>
                    <a href="">#SouthIndiaBride</a>
                    <a href="">#WeddingInvites</a>
                    <a href="">#DelhiWedding</a>
                    <a href="">#RealBrides</a>
                </div>
            </div>


            <div class="social_footer">
                <p class="text-center">Follow us on:</p>
                <p class="text-center">
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/facebook.png" alt="facebook link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/instagram.png" alt="instagram link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/twitter.png" alt="twitter link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/google.png" alt="google plus link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/linkedin.png" alt="linkedin link"/>
                    </a>
                    <a href="https://facebook.com">
                        <img src="assets/images/icons/pinterest.png" alt="pinterest link"/>
                    </a>
                </p>
                <p class="text-center">
                    <span class="social_btn"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</span>
                    <span class="social_btn">Share</span>
                </p>
                <p class="text-center"><span class="base-c"><Strong>Sign Up</Strong></span> to see what your friends like.</p>
            </div>


            <div class="container no-padding text-center mt-30 mb-10">
                <p class="mb-5"><strong>Contact us to get best deals</strong></p>
                <p class="mb-15">
                    <span class="mr-15"><a href="mailto:vendors@theeventkart.com">vendors@theeventkart.com</a></span>
                    <span class="ml-15"><i class="mr-5 fa fa-whatsapp" aria-hidden="true" style="color: #1ed11e"></i><i class="ml-5 mr-5 fa fa-volume-control-phone" aria-hidden="true"></i><a href="tel:+14087560610 ">+1 (408) 756-0610</a></span>
                </p>
                <p><a class="social_btn" style="padding: 2px 10px "><strong>Register as a Vendor</strong></a></p>
            </div>

            

            <div class="container no-padding mb-30">
                <hr>
            </div>

            <div class="container no-padding text-center mt-30 mb-30 vendor_footer">
                <p class="mb-30 heading">Wedding Vendors in over 100 Indian cities</p>
                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                    <p>Wedding venues</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                    <p>Bridal Makeup</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                        <p>Bridal Wear</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                            <p>Wedding Decorators</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                <p>Wedding Cards</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                    <p>Wedding Photographers</p>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                        <p>Family Makeup</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                            <p>Groom Wear</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                                <p>Wedding Planner</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                                    <p>Wedding Videography</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                                        <p>Bridal Mehndi</p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3 text-left">
                                                            <p>Wedding Shoots</p>
                                                        </div>
            </div>


<div class="col-xs-12 no-padding main-footer">
    <div>
        <ul>
            <li>Home</li>
            <li>Terms & Condition</li>
            <li>Privacy Policy</li>
            <li>Contact Us</li>
            <li>Packages</li>
        </ul>
    </div>
</div> 
<div class="col-xs-12 no-padding bottom-footer">
        <p>Copyright &copy; 2019 The <a href="#" class="base-c">Eventkart.com</a> | All Right Reserved</p>
    </div> 



        </div>
    </div>
</footer>