.social_footer{
    background: #cacaca;
    padding: 22px 0;
}
.social_footer a img {
    width: 25px;
    margin: 4px 4px;
}
.social_btn {
    color: #e45243;
    border: 1px solid #e45243;
    padding: 1px 5px;
    margin: 0 2px;
    font-size: 13px;
    display: inline-block;
    min-width: 60px;
    cursor: pointer;
}
.social_footer p:first-child{
    font-size: 15px;
    font-weight: 600;
}
.trend_tags{
    margin-bottom: 75px;
}
.trend_tags > p{
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}
.trend_tags a{
    color: #939393;
    margin: 0 40px;
}
.vendor_footer .heading{
    font-size: 16px;
}
.vendor_footer .col-xs-12{
    color: #9b9b9b;
}
.main-footer {
    background-color: #000;
    text-align: center;
}
.bottom-footer{
    background-color: #121212;
}
.bottom-footer p{
    margin: 8px;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-size: 12px;
}
.main-footer > div{
    margin: 40px auto;
    /* display: block; */
    color: #636363;
}
.main-footer ul{
    list-style: none;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
}
.main-footer li {
    float: left;
    padding: 0px 30px;
    border-right: 1.5px solid #636363;
    line-height: 15px;
    text-align: center;
}










// Responsive css layout



@media screen and (min-width: 1800px){
	
}

@media screen and (max-width: 1800px){
	
	
	
}

@media screen and (max-width: 1500px){
	
	
}

@media screen and (max-width: 1300px){
	
	
}

@media screen and (max-width: 1210px){


	
}

@media screen and (max-width: 1025px){

	
}

@media screen and (max-width: 769px) {
    

.trend_tags{
    div{
        word-break: break-word;
        text-align: left;
    }
    .base-c{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 15px 0;
    }       
    }
    .trend_tags a{
        margin: 8px 12px;
        display: inline-block;
    }
}

@media screen and (max-width: 540px) {
    
}

@media screen and (max-width: 480px) {
	
}

@media screen and (max-width: 430px){
	
}


@media screen and (max-width: 380px){

}
@media screen and (max-width: 365px){
	
	
	
}
@media screen and (max-width: 350px){
	
	
}
@media screen and (max-width: 330px){
	
}