<header class="desktopV">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 top_header no-padding">
                <div class="left_bar col-xs-12 col-sm-6">
                    <p>
                        <span><img src="assets//images/icons/usa.png" alt="country flag"/></span>
                        <span>United States</span>, <span>$ USD</span>
                    </p>
                    <mat-form-field floatLabel="never" no-padding >
                            <mat-label>Wedding Type</mat-label>
                            <mat-select>
                                <mat-option>Hindu Wedding</mat-option>
                                <mat-option>Muslim Wedding</mat-option>
                                <mat-option>christian Wedding</mat-option>
                            </mat-select> 
                        </mat-form-field>
                </div>
                <div class="right_bar col-xs-12 col-sm-6">
                    <p (click)="signIn()">Sign In</p>
                    <p (click)="register()"> Register</p>
                    <p>
                        <img src="assets/images/icons/cart_bag.png" />
                    </p>
                    <p>
                        <img src="assets/images/icons/rating.png" />
                    </p> 
                </div>
            </div>
            <div class="col-xs-12 mid_header" data-aos="zoom-in"  data-aos-delay="0">
                <img src="assets/images/logo.png" alt="logo" class="img-responsive logo" />
                
            </div>
            <div class="col-xs-12 bottom_header">
                <ul class="menues_icon menu col-xs-2">
                    <li class="first_list"><img src="assets/images/icons/logo-icon.png" /></li>
                </ul>
                <ul class="menues menu  col-xs-8">
                    <li class="menu_list">
                        <a href="#">Menu</a>   
                    </li>
                    <li class="menu_list">
                        <a href="#">Packages</a>
                    </li>
                    <li class="menu_list">
                        <a href="#">Wedding Bookings</a>
                    </li>
                    <li class="menu_list">
                        <a href="#">Wedding Shop</a>
                    </li>
                    <li class="menu_list">
                            <a href="#">Vendors</a>
                            <div class="list_wrapper list_wrapper_right">
                                    <div class="about_img">
                                        <img src="assets/images/about.jpg">
                                    </div>
                                    <div class="wrapper_list">
                                        <ul>
                                            <li><a href="upcoming_events.php">Upcoming Events<span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a></li>
                                            <li><a href="past_events.php">Past Events<span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a></li>
                                        </ul>
                                    </div>
                                    <span class="width" style="width: 398px;"></span>
                                </div>
                        </li>
                    <li class="menu_list">
                        <a href="#">Wedding Ideas</a>
                    </li>
                    <li class="menu_list">
                            <a href="#">Blog</a>
                        </li>
                </ul>
                <ul class="menues_search menu col-xs-2">
                    <li class="last_list">Search <span><i class="fa fa-search" aria-hidden="true"></i>
                    </span></li>
                    <div class="search_input" style="left: 105%;">
                        <input type="text" placeholder="search">
                        <span class="close_input"><img style="width:20px;" src="assets/images/icons/cancel.png"></span>
                    </div>
                </ul>
                
            </div>
        </div>
    </div>
</header> 

<header class="mobileV" >
    <nav class="responsive_nav">
        <div class="nav_1">
                <span class="mb-0">
                        <span class="mr-5"><img src="assets//images/icons/usa.png" alt="country flag"/></span>
                        <span class="ml-5">United States</span>, <span>$ USD</span>
                    </span>
                    <mat-form-field floatLabel="never" no-padding class="select_header">
                        <mat-label>Select wedding</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option value="option1">Hindu Wedding</mat-option>
                                <mat-option value="option2">Muslim Wedding</mat-option>
                                <mat-option value="option3">christian Wedding</mat-option>
                            </mat-select> 
                        </mat-form-field>
                    
        </div>
        <div class="nav_2">
            <ul class="menu">
                <li>
                    <a class="hamburger">
                        <img src="assets/images/icons/menu.png">
                    </a>
                </li>
                <li>
                    <a class="logo">
                        <img src="assets/images/logo_white.png">
                    </a>
                </li>
                <li>
                    <a class="search">
                        <img src="assets/images/icons/search.png">
                    </a>
                </li>
            </ul>
            <div class="search_input">
                <input type="text" placeholder="search">
                <span class="close_input"><img style="width:20px;" src="assets/images/icons/cancel.png"></span>
            </div>
        </div>
        <div class="side_menu" style="width: 0px;">
            <ul>
                <li>
                    <a>
                        <img src="assets/images/logo_white.png">
                        <span class="close"><img src="assets/images/icons/cancel.png"></span>
                    </a>
                </li>
                <li>
                    <a href="about_us.php">
                        About IOD
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                    <div class="sidenav_wrapper" style="display:none">
                        <ul class="">
                            <li><a>IOD's Journey 25 years<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a href="distinguished_fellow.php">IOD Distinguished Fellows<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a>Memorandum of Association<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a>Leadership Awards<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a>Past Leadership Winners<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a href="about_testimonials.php">Testimonial<span><img src="assets/images/icons/next.png"></span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="management.php">
                        Management
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="masterclass.php">
                        Masterclass
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="membership.php">
                        Membership
                    </a>
                     <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="events.php">
                        Events
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                    <div class="sidenav_wrapper" style="display:none">
                        <ul class="">
                            <li><a href="upcoming_events.php">Upcoming Events<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a href="past_events.php">Past Events<span><img src="assets/images/icons/next.png"></span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="advisory.php">
                        Advisory
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="mou_partner.php">
                        Mou Partners 
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="publication.php">
                        Publications
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>	
                    <div class="sidenav_wrapper" style="display:none">
                        <ul>
                            <li><a href="director_today.php">Director Today &amp; Quality Times<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a href="iod_books.php">Iod Books<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a href="handbooks.php">Handbooks<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a>Winners Digest<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a href="new_article.php">New Articles<span><img src="assets/images/icons/next.png"></span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="golden_award.php">
                        Golden Peacock Award 
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a>
                        News
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                    <div class="sidenav_wrapper" style="display:none">
                        <ul>
                            <li><a href="meeting_notice.php">Meeting Notice<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a href="press_release.php">Press Release<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a href="press_clipping.php">Press Clipings<span><img src="assets/images/icons/next.png"></span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="gallery.php">
                        Gallery
                    </a>
                     <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="contact_us.php">
                        Contact Us
                    </a>
                     <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="career.php">
                        Career
                    </a>
                     <span><img src="assets/images/icons/next.png"></span>
                </li>
                
            </ul>
            
        </div>
        
    </nav>
</header>