<header class="desktopV">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 top_header no-padding">
                <div class="left_bar col-xs-12 col-sm-6">
                    <p>
                        <span><img src="assets//images/icons/usa.png" alt="country flag"/></span>
                        <span>United States</span>, <span>$ USD</span>
                    </p>
                   
                    <mat-form-field floatLabel="never" no-padding >
                            <mat-label>Wedding Type</mat-label>
                            <mat-select>
                                <mat-option>Hindu Wedding</mat-option>
                                <mat-option>Muslim Wedding</mat-option>
                                <mat-option>christian Wedding</mat-option>
                            </mat-select> 
                        </mat-form-field>
                </div>
                <div class="right_bar col-xs-12 col-sm-6">
                    <p  data-toggle="modal" data-target="#signin">Sign In</p>
                    <p data-toggle="modal" data-target="#register"> Register</p>
                    <p>
                        <img src="assets/images/icons/cart_bag.png" />
                    </p>
                    <p>
                        <img src="assets/images/icons/rating.png" />
                    </p> 
                </div>
            </div>
            <div class="col-xs-12 mid_header" data-aos="zoom-in"  data-aos-delay="0">
                <a href="/homepage"><img src="assets/images/logo.png" alt="logo" class="img-responsive logo" /></a>
                
            </div>
            <div class="col-xs-12 bottom_header">
                <ul class="menues_icon menu col-xs-2">
                    <li class="first_list"><img src="assets/images/icons/logo-icon.png" /></li>
                </ul>
                <ul class="menues menu  col-xs-8">
                    <li class="menu_list">
                        <a href="#">Menu</a>   
                    </li>
                    <li class="menu_list">
                        <a href="#">Packages</a>
                    </li>
                    <li class="menu_list">
                        <a href="#">Wedding Bookings</a>
                    </li>
                    <li class="menu_list">
                        <a href="/listing">Wedding Shop</a>
                    </li>
                    <li class="menu_list">
                            <a href="#">Vendors</a>
                            <div class="list_wrapper list_wrapper_right">
                                    <div class="about_img">
                                        <img src="assets/images/about.jpg">
                                    </div>
                                    <div class="wrapper_list">
                                        <ul>
                                            <li><a href="upcoming_events.php">Upcoming Events<span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a></li>
                                            <li><a href="past_events.php">Past Events<span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a></li>
                                        </ul>
                                    </div>
                                    <span class="width" style="width: 398px;"></span>
                                </div>
                        </li>
                    <li class="menu_list">
                        <a href="#">Wedding Ideas</a>
                    </li>
                    <li class="menu_list">
                            <a href="#">Blog</a>
                        </li>
                </ul>
                <ul class="menues_search menu col-xs-2">
                    <li class="last_list">Search <span><i class="fa fa-search" aria-hidden="true"></i>
                    </span></li>
                    <div class="search_input" style="left: 105%;">
                        <input type="text" placeholder="search">
                        <span class="close_input"><img style="width:20px;" src="assets/images/icons/cancel.png"></span>
                    </div>
                </ul>
                
            </div>
        </div>
    </div>
</header> 

<header class="mobileV" >
    <nav class="responsive_nav">
        <div class="nav_1">
                <span class="mb-0">
                        <span class="mr-5"><img src="assets//images/icons/usa.png" alt="country flag"/></span>
                        <span class="ml-5 font-14">United States</span>, <span>$ USD</span>
                    </span>
                    <mat-form-field floatLabel="never" no-padding class="select_header">
                        <mat-label>Select wedding</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option value="option1">Hindu Wedding</mat-option>
                                <mat-option value="option2">Muslim Wedding</mat-option>
                                <mat-option value="option3">christian Wedding</mat-option>
                            </mat-select> 
                        </mat-form-field>
                    
        </div>
        <div class="nav_2">
            <ul class="menu">
                <li>
                    <a class="hamburger">
                        <img src="assets/images/icons/menu.png">
                    </a>
                </li>
                <li>
                    <a class="logo">
                        <img src="assets/images/logo_white.png">
                    </a>
                </li>
                <li>
                    <a class="search">
                        <img src="assets/images/icons/search.png">
                    </a>
                </li>
            </ul>
            <div class="search_input">
                <input type="text" placeholder="search">
                <span class="close_input"><img style="width:20px;" src="assets/images/icons/cancel.png"></span>
            </div>
        </div>
        <div class="side_menu" style="width: 0px;">
            <ul>
                <li>
                    <a>
                        <img src="assets/images/logo_white.png">
                        <span class="close"><img src="assets/images/icons/cancel.png"></span>
                    </a>
                </li>
                <li>
                    <a href="" data-target="#signin" data-toggle="modal">
                        Sign In
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="" data-target="#register" data-toggle="modal">
                        Register
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="about_us.php">
                        Menu
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                    <div class="sidenav_wrapper" style="display:none">
                        <ul class="">
                            <li><a>dummy<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a>dummy<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a>dummy<span><img src="assets/images/icons/next.png"></span></a></li>
                            <li><a>dummy<span><img src="assets/images/icons/next.png"></span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="management.php">
                        Packages
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="masterclass.php">
                        Wedding Bookings
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="membership.php">
                        Wedding Shop
                    </a>
                     <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="events.php">
                        Vendors
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="advisory.php">
                        Wedding Ideas
                    </a>
                    <span><img src="assets/images/icons/next.png"></span>
                </li>
                <li>
                    <a href="mou_partner.php">
                        Blog
                    </a>
                     <span><img src="assets/images/icons/next.png"></span>
                </li>
                
            </ul>
            
        </div>
        
    </nav>
</header>