<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 top_header no-padding">
                <div class="left_bar col-xs-12 col-sm-6">
                    <p>
                        <span><img src="assets//images/icons/usa.png" alt="country flag"/></span>
                        <span>United States</span>, <span>$ USD</span>
                    </p>
                    <p>Hindu Wedding</p>
                </div>
                <div class="right_bar col-xs-12 col-sm-6">
                    <p (click)="signIn()">Sign In</p>
                    <p (click)="register()"> Register</p>
                    <p>
                        <img src="assets/images/icons/cart_bag.png" />
                    </p>
                    <p>
                        <img src="assets/images/icons/rating.png" />
                    </p> 
                </div>
            </div>
            <div class="col-xs-12 mid_header">
                <img src="assets/images/logo.png" alt="logo" class="img-responsive logo" />
                
            </div>
            <div class="col-xs-12 bottom_header">
                <ul class="menues_icon menu col-xs-2">
                    <li class="first_list"><img src="assets/images/icons/logo-icon.png" /></li>
                </ul>
                <ul class="menues menu  col-xs-8">
                    <li class="menu_list">Menu</li>
                    <li class="menu_list">Packages</li>
                    <li class="menu_list">Wedding Bookings</li>
                    <li class="menu_list">Wedding Shop</li>
                    <li class="menu_list">Vendors</li>
                    <li class="menu_list">Wedding Ideas</li>
                    <li class="menu_list">Blog</li>
                </ul>
                <ul class="menues_search menu col-xs-2">
                    <li class="last_list">Search <span><i class="fa fa-search" aria-hidden="true"></i>
                    </span></li>
                </ul>
                
            </div>
        </div>
    </div>
</header>