.desktopV{display: block;}
.mobileV{display: none;}

@media screen and (min-width: 1800px){
	
}

@media screen and (max-width: 1800px){
	
	
	
}

@media screen and (max-width: 1500px){
	
	
}

@media screen and (max-width: 1300px){
	
	
}

@media screen and (max-width: 1210px){
	
	
}

@media screen and (max-width: 1025px){
	
	
}

@media screen and (max-width: 769px) {
    .desktopV{display: none;}
    .mobileV{display: block;}
}

@media screen and (max-width: 540px) {
    
}

@media screen and (max-width: 480px) {
	
}

@media screen and (max-width: 430px){
	
}


@media screen and (max-width: 380px){

}
@media screen and (max-width: 365px){
	
	
	
}
@media screen and (max-width: 350px){
	
	
}
@media screen and (max-width: 330px){
	
}