.breadcrums{
    font-size: 13px;
    color: #000;    
}
.mat-form-field {
    width: 110px;
    margin-right: 45px;
}
.base_btn{
    letter-spacing: 0;
    font-weight: 400;
    font-size: 13px;
    width: 150px;
}
.base_btn_o{
    background: #fff;
    color: #e45243;
}
.base_btn_o:hover{
    color: #fff;
    background: #e45243;
}
.product_size{
    margin: 25px 0px 0;
}
.desc_text{
    clear: both;
    margin-top: 15px;
    h3{
        font-size: 17px;
        margin: 0;
        margin-bottom: 5px;
        /* clear: both; */
        margin-top: 10px;
    }
      ul {
        margin: 0;
      }
      ul.dashed {
        list-style-type: none;
        padding: 10px 10px;
      }
      ul.dashed > li {
        text-indent: -10px;
      }
      ul.dashed > li:before {
        content: "-";
        text-indent: -5px;
        margin-right: 5px;
      }
      p{
          padding: 10px 0;
      }
}
.quick_links a{
  font-size: 13px;
  text-decoration: underline;
}