<div class="container mt-30 mb-10 no-padding">
    <div class="row">
        <div class="col-xs-12 breadcrums">
            <p class="">Home / Clothing / Bridal Wear</p>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="row">
        <div class="col-xs-12 mt-30 mb-30">
            <div class="col-xs-12 col-sm-12 col-md-7">
                <div class="product_image_container text-center">
                    <img src="assets/images/product/product-1.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 mt-10">
                <p class="font-16 mb-20"><strong>Brand Name</strong></p>
                <p>Product Name, Bridal Wear</p>
                <p><span><i class="fa fa-inr"></i></span> 12,500</p>
                <p><span><i class="fa fa-star"></i></span> 5 Star</p>

                <div class="product_size">
                    <mat-form-field floatLabel="never" no-padding >
                        <mat-label><strong>Choose Size</strong></mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option value="option1">Large</mat-option>
                            <mat-option value="option2">Medium</mat-option>
                            <mat-option value="option3">Small</mat-option>
                        </mat-select> 
                    </mat-form-field>
                    <a href="#"><strong>View Size Chart</strong></a>
                </div>
                <div class="col-xs-12 mt-30 mb-30 no-padding">
                    <button mat-button class="base_btn mr-15 mb-10">ADD TO BAG</button>
                    <button mat-button class="base_btn base_btn_o  mb-10">ADD TO WISH LIST</button>
                </div>
                <div class="desc_text">
                    <h3>Size & Fit Information</h3>
                    <ul class="dashed">
                        <li>is simply dummy text of the</li>
                        <li>It is a long established fact that</li>
                        <li>a reader will be distracted by the readable content of a 
                                page when looking at its layout.</li>
                        <li>is simply dummy</li>
                    </ul>
                </div>
                <div class="desc_text">
                    <h3>Description</h3>
                    <p>is simply dummy text of the printing and typesetting 
                            industry. Lorem Ipsum has been the industry's standard 
                            dummy text ever since the 1500s, when an unknown 
                            printer took a galley of type and scrambled it to make a 
                            type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-xs-12 mt-30 mb-30">
            <div class="section_heading mt-20 mb-30 font-16 text-center">
                <p class='mb-30'>HOW TO WEAR IT</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mb-10">
                <a><img src="assets/images/product/prod-1.png" alt="" class="img-responsive img-center"/></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mb-10">
                <a><img src="assets/images/product/prod-2.png" alt="" class="img-responsive img-center"/></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mb-10">
                <a><img src="assets/images/product/prod-3.png" alt="" class="img-responsive img-center"/></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mb-10">
                <a><img src="assets/images/product/prod-4.png" alt="" class="img-responsive img-center"/></a>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-xs-12 mt-30 mb-30">
            <div class="section_heading mt-20 mb-30 font-16 text-center">
                <p class='mb-30'>HOW TO WEAR IT</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mb-10">
                <a><img src="assets/images/product/prod-5.png" alt="" class="img-responsive img-center"/></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mb-10">
                <a><img src="assets/images/product/prod-6.png" alt="" class="img-responsive img-center"/></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mb-10">
                <a><img src="assets/images/product/prod-7.png" alt="" class="img-responsive img-center"/></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mb-10">
                <a><img src="assets/images/product/prod-8.png" alt="" class="img-responsive img-center"/></a>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row mt-30 mb-30">
        <div class="col-xs-12 mt-30 mb-30 text-center quick_links">
            <div class="col-md-4 col-sm-4 col-xs-12 mb-30 mt-30">
                <p class="mb-5">DELIVERY</p>
                <a>View</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 mb-30 mt-30">
                <p class="mb-5">RETURNS</p>
                <a>Find out more</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 mb-30 mt-30">
                <p class="mb-5">HELP & ADVICE</p>
                <a>Email us</a>
            </div>
        </div>
    </div>
</div>