/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: arial;
    src: url(assets/fonts/Arial.ttf) format("opentype");
  }
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: arial;
    font-weight: 400;
}
.no-margin{margin: 0px !important;}
.no-padding{padding: 0px !important;}
.mt-0{margin-top: 0px !important;}
.mb-0{margin-bottom: 0px !important;}
.mt-5{margin-top: 5px !important;}
.mb-5{margin-bottom: 5px !important;}
.mt-30{margin-top: 30px !important;}
.mb-30{margin-bottom: 30px !important;}
.pl-30{padding-left: 30px !important;}
.pr-30{padding-right: 30px !important;}
.mt-10{margin-top: 10px !important;}
.mb-10{margin-bottom: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mb-15{margin-bottom: 15px !important;}
.mr-15{margin-right: 15px !important;}
.ml-15{margin-left: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mb-20{margin-bottom: 20px !important;}
.mr-20{margin-right: 20px !important;}
.ml-20{margin-left: 20px !important;}
.pl-5{padding-left: 5px !important;}
.pr-5{padding-right: 5px !important;}
.mr-5{margin-right: 5px !important;}
.ml-5{margin-left: 5px !important;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #616161;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #616161;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #616161;
}

.font-16{font-size: 16px !important}
.font-14{font-size: 14px !important}
.flow-right{float: right;}
.flow-left{float: left;}
.base_btn{
  border: 1px solid #e45243 !important;
  background: #e45243;
  color: #fff;
  font-size: 15px;
  padding: 8px 15px;
  font-weight: 600;
  border-radius: 2px;
  letter-spacing: 1px;
  transition: ease-in all 0.2s;
  text-transform: capitalize;
  min-width: 175px;
}
.base_btn:hover{
  background: rgba(228, 156, 157, 1);
  border: 1px solid rgba(228, 156, 157, 1) !important;
  transition: ease-in all 0.2s;
}
.base_btn:focus{
  outline: none;
  border: 1px solid rgba(228, 156, 157, 1) !important;
}
.main-heading {
  width: 70%;
  margin: 0 auto;
}
.sub-heading{
  color: #919191;
  font-size: 14px;
}
.base-c{
  color: #e45243;
}
.base-bg{
  background-color: #e45243;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
  border:0;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 999999;
}
.mat-select-value{opacity: 1;}
.modal-backdrop{
  z-index: 99999;
}
.modal{
  z-index: 999999;
}
.modal-content{
  overflow: hidden;
}
.modelVcenter{
  display: flex;
  height: 100vh;
  align-items: center;
}

.ip-full-width {
  width: 100%;
  padding: 5px 16px;
  border: 1px solid #ccc;
  margin: 12px 0;
  background: #fff;
  font-weight: 600;
  color: #6c6c6c;
}
.mat-form-field-label-wrapper{
  overflow: visible !important;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.8125em) scale(.75) perspective(100px) translateZ(.001px) !important;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color: #e45243 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #e45243;
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #e45243;
}
.mat-checkbox-layout .mat-checkbox-label {
  line-height: 19px !important;
  font-size: 14px;
  font-weight: 400;
}

hr {
  border: 0;
  border-top: 1px solid #d9d9d9;
  box-shadow: 0px 1px 4px 1px #cccccc63;
}
a{text-decoration: none; color: #4d4d4d;;}
a:hover, a:focus, a:active{
  color: #e45243;
}
ul, li{list-style: none;}
input:focus{outline:none;}
button:focus{outline:none;}



