/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: arial;
    src: url(assets/fonts/Arial.ttf) format("opentype");
  }
  body, #main{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: arial;
    font-weight: 400;
    position:relative;
}
.no-margin{margin: 0px !important;}
.no-padding{padding: 0px !important;}
.mt-0{margin-top: 0px !important;}
.mb-0{margin-bottom: 0px !important;}
.mt-5{margin-top: 5px !important;}
.mb-5{margin-bottom: 5px !important;}
.mt-30{margin-top: 30px !important;}
.mb-30{margin-bottom: 30px !important;}
.mr-30{margin-right: 30px !important;}
.ml-30{margin-left: 30px !important;}
.pl-30{padding-left: 30px !important;}
.pr-30{padding-right: 30px !important;}
.mt-10{margin-top: 10px !important;}
.mb-10{margin-bottom: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mb-15{margin-bottom: 15px !important;}
.mr-15{margin-right: 15px !important;}
.ml-15{margin-left: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mb-20{margin-bottom: 20px !important;}
.mr-20{margin-right: 20px !important;}
.ml-20{margin-left: 20px !important;}
.mt-10{margin-top: 10px !important;}
.mb-10{margin-bottom: 10px !important;}
.mr-10{margin-right: 10px !important;}
.ml-10{margin-left: 10px !important;}
.pl-5{padding-left: 5px !important;}
.pr-5{padding-right: 5px !important;}
.pt-5{padding-top: 5px !important;}
.pb-5{padding-bottom: 5px !important;}
.mr-5{margin-right: 5px !important;}
.ml-5{margin-left: 5px !important;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #616161;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #616161;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #616161;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1b1b1; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cccccc; 
}

.font-16{font-size: 16px !important}
.font-14{font-size: 14px !important}
.font-13{font-size: 13px !important}
.flow-right{float: right;}
.flow-left{float: left;}
.base_btn{
  border: 1px solid #e45243 !important;
  background: #e45243;
  color: #fff;
  font-size: 15px;
  padding: 8px 15px;
  font-weight: 600;
  border-radius: 2px;
  letter-spacing: 1px;
  text-transform: capitalize;
  min-width: 175px;
  box-shadow: 3px 3px 4px 1px #cccccca1;
  transition: ease-in all 0.2s;
}
.base_btn:hover{
  background: rgba(228, 156, 157, 1);
  border: 1px solid rgba(228, 156, 157, 1) !important;
  transition: ease-in all 0.2s;
}
.base_btn:focus{
  outline: none;
  border: 1px solid rgba(228, 156, 157, 1) !important;
}
.main-heading {
  width: 70%;
  margin: 0 auto;
}
.sub-heading{
  color: #919191;
  font-size: 14px;
}
.base-c{
  color: #e45243;
}
.base-bg{
  background-color: #e45243;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
  border:0;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
  background-color: transparent !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: transparent !important;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 999999;
}
.mat-select-value{opacity: 1;}
.modal-backdrop{
  z-index: 99999;
  display: none;
}
.modal_overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.modal{
  z-index: 999999;
}
.modal-content{
  overflow: hidden;
}
.modelVcenter{
  display: flex;
  height: 100vh;
  align-items: center;
}

.ip-full-width {
  width: 100%;
  padding: 5px 16px;
  border: 1px solid #ccc;
  margin: 12px 0;
  background: #fff;
  font-weight: 600;
  color: #6c6c6c;
}
.mat-form-field-label-wrapper{
  overflow: visible !important;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.8125em) scale(.75) perspective(100px) translateZ(.001px) !important;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color: #e45243 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #e45243;
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #e45243;
}
.mat-checkbox-layout .mat-checkbox-label {
  line-height: 19px !important;
  font-size: 14px;
  font-weight: 400;
}
.mat-drawer-content{
overflow: hidden !important;
}
.img-center{
  margin: 0 auto;
  display: block;
}
.mat-drawer-container {
  background-color: #fff;
  color: rgba(0,0,0,.87);
}
hr {
  border: 0;
  border-top: 1px solid #d9d9d9;
  box-shadow: 0px 1px 4px 1px #cccccc63;
}
a{text-decoration: none; color: #4d4d4d;cursor: pointer;}
a:hover, a:focus, a:active{
  color: #e45243;
  outline: none;
}
ul, li{list-style: none;}
input:focus{outline:none;}
button:focus{outline:none;}


/*Responsive Nav*/
.nav_1{
	padding: 10px;
    text-align: left;
	border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.24);
}
.nav_1 > .today_date > span.calender_img{
	vertical-align: text-bottom;
    display: inline-block;
    width: 20px;
}
.nav_2{
	background: #e45243;
    position: relative;
	overflow: hidden;
}
.nav_2 > ul{
	padding-left: 0px;
    margin-bottom: 0px;
	padding: 5px 0px 10px 0px;
}
.nav_2 > ul > li:nth-child(1){
	width: 44px;
    display: inline-block;
}
.nav_2 > ul > li:nth-child(2){
	width: calc(100% - 105px);
    display: inline-block;
}
.nav_2 > ul > li:nth-child(3){
	width: 44px;
    display: inline-block;
	text-align:right;	
}
.nav_2 > ul > li > a.hamburger{
	display: inline-block;
    margin: 0px 10px;
}
.nav_2 > ul > li > a.hamburger > img, .nav_2 > ul > li > a.search > img{
	width: 20px;
}
.nav_2 > ul > li > a.logo > img{
	width: 35%;
	max-width:110px;
}
.responsive_nav > .side_menu{
	transition: all 0.2s;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
    width: 0px;
    height: 100vh;
    max-height: 100vh;
    box-shadow: 3px 0px 20px 0px #00000075;
    border-top-right-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
}
.responsive_nav > .side_menu > ul{
	height: 100%;
    padding-left: 0px;
}
.responsive_nav > .side_menu > ul > li:first-child{
	background: #e45243;
    padding: 25px;
    text-align: center;
}
.responsive_nav > .side_menu > ul > li{
	padding: 15px 10px;
    font-weight: 600;
	border-bottom: 1px solid rgba(0, 64, 110, 0.29);
}
.responsive_nav > .side_menu > ul > li > a{
	display: inline-block;
    width:80%;
	vertical-align:middle;
}
.responsive_nav > .side_menu > ul > li > span{
	width:18%;
	display: inline-flex;
	align-items: center;
    vertical-align: middle;
    float: none;
	transition: all ease-in-out 0.2s;
    transform: rotate(0deg);
	text-align:right;
}
.responsive_nav > .side_menu > ul > li > span > img{
	margin: 0 0 0 auto;
	transition:all ease-in-out 0.2s;
}
.responsive_nav > .side_menu > ul > li > span > img.rotate{
	transform: rotate(90deg);
}
.responsive_nav > .side_menu > ul > li .sidenav_wrapper{
	margin-top: 10px;
}
.responsive_nav > .side_menu > ul > li .sidenav_wrapper > ul{
    padding-left: 0px;
    list-style: none;
}
.responsive_nav > .side_menu > ul > li .sidenav_wrapper > ul > li{
	border-bottom: 1px solid #cccccc47;
}
.responsive_nav > .side_menu > ul > li .sidenav_wrapper > ul > li > a{
	color: #7d7d7d;
    font-size: 13px;
	display: inline-block;
    width: 100%;
    padding: 10px 0px 10px 10px;
}
.responsive_nav > .side_menu > ul > li .sidenav_wrapper > ul > li > a > span{
	float: right;
}
.responsive_nav > .side_menu > ul > li .sidenav_wrapper > ul > li > a > span > img{
	width:12px;
}
.responsive_nav > .side_menu > ul > li > span > img{
	width: 15px;
}
.responsive_nav > .side_menu > ul > li:first-child  > a > img{
	width: 80%;
}
.responsive_nav > .side_menu > ul > li:first-child  > a > span{
	display: inline-block;
    position: absolute;
    top: 6px;
    right: 6px;
	opacity: 1;
}
.responsive_nav > .side_menu > ul > li:first-child  > a > span > img{
	width: 24px;
}
.search_input{
	position: absolute;
    top: 0;
    width: calc(100% - 40px);
    left: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.25s;
    padding: 10px;
    background: #e45243;
}
.search_input > input{
	width: 95%;
    padding: 5px;
    border-radius: 3px;
    border: none;
}
.search_input > span.close_input{
	color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}
/*Responsive Nav*/



